@use "../../styles/reset";
@use "../../styles/mixins/spacing";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


html {
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
}

body {
  width: 100%;
}

.main {
  background: #fff;
  min-height: 100vh;
  max-width: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .logo {
    font-family: "Bebas Neue", sans-serif;
    font-size: 100px;
    font-weight: 500;
    border: 1px solid #333;
    color: #333;
    padding: 10px 30px;
  }
}

#__nuxt {
  display: flex;
}

a {
  color: #333;
}

aside {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 250px;
  border-right: 1px solid #eee;
  height: 100vh;

  .logo {
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    font-weight: 500;
    border: 1px solid #333;
    color: #333;
    padding: 6px 20px;
    display: flex;
    justify-content: center;
  }

  h2 {
    border-top: 1px solid #eee;
    padding-top: 1rem;
    margin-top: 1rem;
  }

  h3 {
    margin-top: 1rem;
  }

  a {
    @include spacing.paddingY(4)
  }
}

main {
  padding: 1rem;
  width: 100%;
}

.links {
  display: flex;
  gap: 1rem;

  a {
    @include spacing.paddingY(5)
  }
}