@use "../../styles/reset";
@use "../../styles/mixins/spacing";
@use "../../styles/mixins/scrollbar";
@use "../../styles/mixins/layout";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


html {
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
}

body {
  width: 100%;
}

.main {
  background: #fff;
  min-height: 100vh;
  max-width: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .logo {
    font-family: "Bebas Neue", sans-serif;
    font-size: 100px;
    font-weight: 500;
    border: 1px solid #333;
    color: #333;
    padding: 10px 40px 0;
  }
}

#__nuxt {
  display: flex;
}

a {
  color: #333;
}

$borderWidth: 2px;

aside {
  display: flex;
  flex-direction: column;
  width: 250px;
  border-right: $borderWidth solid #eee;
  height: 100vh;

  .logo {
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    font-weight: 500;
    border: 1px solid #333;
    color: #333;
    padding: 3px 20px 0;
    display: flex;
    justify-content: center;
    margin: 1rem;
  }

  h2,
  h3 {
    margin-top: 1rem;
  }

  a {
    @include spacing.paddingY(4)
  }

  nav {
    height: 100vh;
    overflow: auto;
    padding-left: 1rem;
    margin-right: -#{$borderWidth};
    padding-bottom: 100px;
    @include scrollbar.set($borderWidth, #f1f1f1, #ccc, #000, 10px);

    .segment {
      display: flex;
      flex-direction: column;
      border-top: 1px solid #eee;
      padding-bottom: 1rem;
      margin-right: 1rem;
    }
  }
}

main {
  padding: 1rem;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  .code {
    margin-top: 1rem;
    margin-bottom: 1rem;

    pre {
      background-color: #1E1E1E;
      color: #D4D4D4;
      border-radius: 6px;
      overflow: hidden;
      padding: 20px;
    }
  }

  .description {

    p {
      margin-top: 1rem;
      margin-bottom: 1rem;
      color: #3b3b3b;
      line-height: 1.5;
    }
  }

  h1,
  h2,
  h3, {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .method {

    code {
      background-color: #ececec;
      border-radius: .25rem;
      color: #0d0d0d;
      padding: .15rem .3rem;
      font-weight: 500;
    }

    .result {
      background-color: #f8f8f8;
      padding: 20px;
      border: 1px solid #ddd;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
}

.links {
  display: flex;
  gap: 1rem;

  a {
    @include spacing.paddingY(5)
  }
}

.params {

  @include layout.flexGrid(3, 20px);

  &_head {
    font-weight: bold;
    padding: 10px 0;
  }
}