@mixin flexCenter($wrap: false) {
  display: flex;
  justify-content: center;
  align-items: center;

  @if $wrap {
    flex-wrap: wrap;
  }
}

@mixin absoluteFill() {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

