@use "sass:color";
@use "sass:math";
@use "../functions/unit";


$_size: 16 !default;
$_trackColor: #fff !default;
$_thumbColor: #666 !default;
$_thumbHoverColor: false !default;
$_thumbRadius: false !default;


@mixin set(
  $size: $_size,
  $trackColor: $_trackColor,
  $thumbColor: $_thumbColor,
  $thumbHoverColor: $_thumbHoverColor,
  $thumbRadius: $_thumbRadius
) {

  @if math.is-unitless($size) {
    $size: #{$size}px;
  }

  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-track {
    background: $trackColor;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumbColor;
    cursor: pointer;

    @if $thumbRadius {

      @if math.is-unitless($thumbRadius) {
        $thumbRadius: #{$thumbRadius}px;
      }

      border-radius: $thumbRadius;
    }

    @if $thumbHoverColor {
      &:hover {
        background-color: color.scale($thumbHoverColor, $alpha: -20%);
      }
    }
  }
}