@use 'sass:list';
@use "sass:math";

$_gapSpacing: 1rem !default;
$_paddingSpacing: 1rem !default;


@mixin gap(
  $spacing: $_gapSpacing
) {
  $spacingListCount: list.length($spacing);

  @if $spacingListCount == 1 {
    gap: list.nth($spacing, 1);
  }

  @if $spacingListCount == 2 {
    gap: list.nth($spacing, 2) list.nth($spacing, 1);
  }
}

@mixin paddingY(
  $spacing: $_paddingSpacing
) {

  @if math.is-unitless($spacing) {
    $spacing: #{$spacing}px;
  }

  padding-top: $spacing;
  padding-bottom: $spacing;
}

@mixin paddingX(
  $spacing: $_paddingSpacing
) {

  @if math.is-unitless($spacing) {
    $spacing: #{$spacing}px;
  }

  padding-left: $spacing;
  padding-right: $spacing;
}