@use 'sass:list';
@use "sass:math";


$_globalSpacing: 1rem !default;
$_paddingSpacing: $_globalSpacing !default;
$_marginSpacing: $_globalSpacing !default;
$_negativeSpacing: $_globalSpacing !default;


@mixin marginY(
  $spacing: $_marginSpacing
) {

  @if math.is-unitless($spacing) {
    $spacing: #{$spacing}px;
  }

  margin-top: $spacing;
  margin-bottom: $spacing;
}


@mixin marginX(
  $spacing: $_marginSpacing
) {

  @if math.is-unitless($spacing) {
    $spacing: #{$spacing}px;
  }

  margin-left: $spacing;
  margin-right: $spacing;
}


@mixin paddingY(
  $spacing: $_paddingSpacing
) {

  @if math.is-unitless($spacing) {
    $spacing: #{$spacing}px;
  }

  padding-top: $spacing;
  padding-bottom: $spacing;
}


@mixin paddingX(
  $spacing: $_paddingSpacing
) {

  @if math.is-unitless($spacing) {
    $spacing: #{$spacing}px;
  }

  padding-left: $spacing;
  padding-right: $spacing;
}


@mixin stretchX(
  $spacing: $_negativeSpacing
) {
  @include paddingX($spacing);
  @include marginX($spacing * -1);
}


@mixin stretchY(
  $spacing: $_negativeSpacing
) {
  @include paddingY($spacing);
  @include marginY($spacing * -1);
}